<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form id="iform" th:action="@{/test/task/complete/{taskId}(taskId=${taskId})}" th:method="post" >
    <ol>
        <li>List循环：
            <table border="1">
                <tr  th:each="fp : ${taskFormData.formProperties}">
                    <td th:text="${fp.name}"></td>
                    <td><input type="text" th:name="${fp.id}" th:value="${fp.value}" /></td>
                </tr>
            </table>
        </li>
    </ol>
    <input type="submit" value="完成任务"/>
</form>

</body>
</html>