<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

<form id="iform" th:action="@{/test/process-instance/start/{processDefinitionId}(processDefinitionId=${processDefinitionId})}" th:method="post" >

    <div th:if="${hasStartFormKey}">
        <p th:text="${startFormDate}"></p>
    </div>
    <div th:if="${!hasStartFormKey}">
        <ol>
            <li>List循环：
                <table border="1">
                    <tr  th:each="fp : ${startFormDate.formProperties}">
                        <td th:text="${fp.name}"></td>
                        <td><input type="text" th:name="${fp.id}" /></td>
                    </tr>
                </table>
            </li>
        </ol>
    </div>

    <input type="submit" value="启动流程"/>
</form>

</body>
</html>